<div class="login-container">

  <div class="card">

    <div class="card-body m-4">

      <div class="header">
        <img src="./assets/images/logo-varejo-nome.png" />
        <h2>Entrar</h2>
      </div>

      <form (submit)="onSubmit()">

        <div class="input-group mb-3">

          <input type="text" class="form-control" placeholder="Usuário" autofocus>
        </div>

        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Senha">
        </div>

        <button type="submit" class="btn btn-primary btn-block btn-salvar">Entrar</button>
      </form>

    </div>
  </div>
</div>
